body {
  font-family: 'Play', sans-serif;
  background:
  url('images/background.png') center no-repeat;
  background-size: cover;
  height: 100vh;
}

#hiddenAdams {
  display: none;
}

#hiddenCobb {
  display: none;
}

#hiddenBennett {
  display: none;
}

header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 8px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: gold;
  margin-top: -8px;
  margin-right: -8px;
  margin-left: -8px;

}

#logo {
  width:600px;
  height: 310px;
}


#receiversContainer {
  display : flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  color: gold;
  font-size: 1.5rem;
  margin-top: -35px;

}


#adams {
  background: url('images/cheese.png') center no-repeat;
  background-size: 135px 99px;
  padding: 5px 40px;
  text-align: center;
  transition: all 0.9s ease;
color: rgba(0,0,0,0.6);
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

}

#adams:hover {
  transform: scale(1.6);
  background: url('images/adams2.gif') center no-repeat;
  border-color: gold;
  border-style: solid;
  box-shadow: 0 0 1rem #ffc600;
  border-radius: 10%;
  padding-right: 20px;
  padding-left: 20px;
  color: #CED22F;
}

#adamslink {
  text-decoration: none;
  color: rgba(0,0,0,0.6);
}

#adamslink:hover {
  color: #CED22F;
}

#davante {
  height: 225px;
  padding-right: 10px;
}

#cobb {
  padding-right: 35px;
  padding-left: 35px;
  background: url('images/cheese.png') center no-repeat;
  background-size: 135px 99px;
  transition: all 0.9s ease;
  text-align: center;
  color: rgba(0,0,0,0.6);
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

#cobb:hover {
  transform: scale(1.6);
  background: url('images/cobb.gif') center no-repeat;
  border-color: gold;
  border-style: solid;
  box-shadow: 0 0 1rem #ffc600;
  border-radius: 10%;
  padding-right: 20px;
  padding-left: 20px;
  color: #CED22F;
}

#cobblink {
  text-decoration: none;
  color: rgba(0,0,0,0.6);
}

#cobblink:hover {
  color: #CED22F;
}

#randall {
  height: 225px;
  padding-right: 10px;
}

#oline {
color: forestgreen;
}

#bennett {
  padding-right: 35px;
  padding-left: 35px;
  background: url('images/cheese.png') center no-repeat;
  background-size: 135px 99px;
  transition: all 0.9s ease;
  text-align: center;
  color: rgba(0,0,0,0.6);
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

#bennett:hover {
  transform: scale(1.6);
  background: url('images/bennett.gif') center no-repeat;
  border-color: gold;
  border-style: solid;
  box-shadow: 0 0 1rem #ffc600;
  border-radius: 10%;
  padding-right: 20px;
  padding-left: 20px;
  color: #CED22F;
}

#bennettlink {
  text-decoration: none;
  color: rgba(0,0,0,0.6);
}

#bennettlink:hover {
  color: #CED22F;
}

#martellus {
  height: 225px;
  padding-right: 10px;
}

#nelson {
  padding-right: 35px;
  padding-left: 35px;
  background: url('images/cheese.png') center no-repeat;
  background-size: 135px 99px;
  transition: all 0.9s ease;
  text-align: center;
  color: rgba(0,0,0,0.6);
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

#nelson:hover {
  transform: scale(1.6);
  background: url('images/jordy.gif') center no-repeat;
  border-color: gold;
  border-style: solid;
  box-shadow: 0 0 1rem #ffc600;
  border-radius: 10%;
  padding-right: 20px;
  padding-left: 20px;
  color: #CED22F;
}

#nelsonlink {
  text-decoration: none;
  color: rgba(0,0,0,0.6);
}

#nelsonlink:hover {
  color: #CED22F;
}

#jordy {
  height: 225px;
  padding-right: 10px;
}

#qbrbContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  color: gold;
  font-size: 1.5rem;
  margin-top: -100px;
  margin-right: 10px;



}

#rodgers {
  background: url('images/cheese.png') center no-repeat;
  background-size: 135px 99px;
  color: rgba(0,0,0,0.6);
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
text-align: center;
transition: all 0.9s ease;
}

#rodgers:hover {
  transform: scale(1.6);
  background: url('images/rodgers.gif') center no-repeat;
  border-color: gold;
  border-style: solid;
  box-shadow: 0 0 1rem #ffc600;
  border-radius: 10%;
  padding-right: 20px;
  padding-left: 20px;
  color: #CED22F;
}

#rodgerslink {
  text-decoration: none;
  color: rgba(0,0,0,0.6);
}

#rodgerslink:hover {
  color: #CED22F;
}

#aaron {
  height: 225px;
  padding-right: 10px;
}

#monty {
padding-right: 35px;
padding-left: 35px;
padding-top: 10px;
background: url('images/cheese.png') center no-repeat;
background-size: 135px 99px;
margin-top: -23px;
transition: all 0.9s ease;
text-align: center;
color: rgba(0,0,0,0.6);
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

}

#monty:hover {
  transform: scale(1.6);
  background: url('images/monty.gif') center no-repeat;
  border-color: gold;
  border-style: solid;
  box-shadow: 0 0 1rem #ffc600;
  border-radius: 10%;
  padding-right: 20px;
  padding-left: 20px;
  color: #CED22F;
}

#montylink {
  text-decoration: none;
  color: rgba(0,0,0,0.6);
}

#montylink:hover {
  color: #CED22F;
}

#ty {
  height: 225px;
  padding-right: 10px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: white;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 2px;
  margin-right: -8px;
  margin-left: -8px;
  margin-bottom: -7px;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}


#emailCole {
  color: #CED22F;
  text-decoration: none;
}

#emailCole:hover {
  transform: scale(1.8);
  color: forestgreen;
  text-decoration: none;

}

.icon {
  width: 25px;
  padding-left: 10px;
  padding-right: 5px;
}

.icon:hover {
  background-color: gold;
  transform: scale(1.7);
  padding-top: 1px;
  padding-left: 3px;
  padding-right: 3px;
}
